/******************TAG SELECTORS******************/

body {
  background-color: #dcd6f7;
}

hr {
  border-color: #f4eeff;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 95%;
}

h1 {
  color: #424874;
}

h3 {
  color: #424874;
}

/******************CLASS SELECTORS******************/

.firstLine {
  border-width: 10px;
  width: 40%;
}

/******************ID SELECTORS******************/

#emailLine {
  border-width: 10px;
  width: 95%;
}
